.cl{
    background-color: #1A5276;
}
.hi{
    height: 38px;
}
.bs{
    border: 2px dotted white;
    border-radius: 1rem;
    background-color: red;
    color: white;
}
.bc{
    background-color: #1A5276;
    color: aliceblue;
    border-radius: 20px;
    border-color: aliceblue;
    padding: 5px 10px;
    
}
.bgo{
    background-color: #EEEEEE;
    opacity: 80%;
}
.bcl{
    background-color: #1A5276;
    color: aliceblue;
    padding: 5px 20px;
    border-color: #1A5276;
}